* {
    font-family: 'Montserrat', sans-serif;
}

#nav {
    background-color: rgba(44, 62, 80, 1);
}

.green {
    background-color: rgba(26, 188, 156, 1)!important;
}

.bg-gray-custom {
    background-color: rgba(44, 62, 80, 1);
}

.footer-color {
    background-color: rgba(26, 37, 47, 1);
}

.font-weight-bold {
    font-weight: bold;
}

.gray {
    color: rgba(44, 62, 80, 1);
}

.star {
    font-size: 25px;
}